* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/pexels-henry-&-co-1939485.jpg);
}

.header {
  display: inline-block;
  box-sizing: content-box;
  background-color: rgba(0, 0, 139, 0.666);
  border: 1px solid black;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 5px 5px 50px 20px rgba(0, 0, 139, 0.666);
}

.header-name {
  box-sizing: border-box;  
  color: aliceblue;
  width: 20%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.header-name h1 {
  font-family: cursive;
}

.header-name h2 {
  font-family: 'Indie Flower', cursive;
  text-align: end;
}

.header-nav {
  box-sizing: border-box;
  float: right;
  padding-top: 10px;
  padding-right: 10px;  
}

.header-nav ul {
  list-style: none;
  size: 50px;
}

.header-nav ul li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
}

.header-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20%;
  padding: 5px;
  font-style: oblique;
}

.header-nav ul:hover {
  border: none;
}

.header-nav a:hover {
  box-shadow: -1px 2px 10px 10px white;
  border: none;
}


.main h1 {
  text-align: center;
}

.main p {
  text-align: center;
  font-size: larger;  
}

.main-heading {
  box-sizing: border-box;
  width: fit-content;
  border: double;
  border-radius: 2%;
  margin: auto;
  padding: 12px;
  background-color: rgba(250, 246, 241, 0.738);
  margin-bottom: 45px;
}

.main-heading p {
  font-family: 'Indie Flower', cursive;
  font-size: large; 
}

.main-body {
  width: 80%;
  margin: auto;
}

.portfolio {
  font-weight: bold;
  font-style: oblique;
  color: aqua;
}

.card {
  background: none;
  height: 200px;
  padding: 5px;
  border: none;
}

.card-body p {
  text-align: justify;
  padding: 5px;
}

.card-body a {
  float: right;  
}

.project {
  border: double;
  background-color: rgba(250, 246, 241, 0.738);
}

.project a img {
  float: right;
  width: 60%;
}

.about-main {
  width: 90%;
  margin: auto;
}

.about-main img {
  width: 300px;
  height: auto;
  border-radius: 20%;
  float: left;
  margin-right: 50px;
}

.about-main h4 {
  margin-top: 40px;
}

.hobbies {
  display: block;
}

.hobbies h3 {
  margin-top: 150px;
}

.img-thumbnail {
  height: 200px;
}


