* {
  margin: 0;
  padding: 0;
}

.header {
  display: inline-block;
  box-sizing: content-box;
  background-color: darkblue;
  border: 1px solid black;
  width: 100vw;
}

.header-name {
  box-sizing: border-box;
  border: 1px groove black;
  width: 35%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: aqua;

}

.header-name h1 {
  font-family: cursive;
}

.header-name h2 {
  font-family: 'Indie Flower', cursive;
}

.header-nav {
  box-sizing: border-box;
  float: right;
  padding-top: 10px;
  padding-right: 10px;  
}

.header-nav ul {
  list-style: none;
  size: 50px;
}

.header-nav ul li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 20%;
  padding: 5px;
}

.header-nav a {
  text-decoration: none;
  color: black;
  font-style: oblique;
}

.main {
  margin-top: 30px;
}

.main h1 {
  text-align: center;
}

.main p {
  text-align: center;
}

.main .container {
  margin-left: 10%;
  margin-right: 10%;
}

.card-body p {
  text-align: justify;
  
}